/* COMMON STYLES */

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Manrope', sans-serif;
}

.wrap {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 40px;
}

/* NAV */

nav {
  display: flex;
  padding: 27px 0;
  justify-content: space-between;
  border-bottom: 2px solid #000;
}

.nav-left {
  padding-right: 50px;
}

.nav--link {
  margin-right: 50px;
  font-size: 18px;
  color: #000;
  text-decoration: none;
}

.nav--link:last-child {
  margin-right: 0;
}

.nav--link:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 357px) {
  nav {
    height: 100px;
  }

  .nav-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

/* HEADER */

header {
  text-align: center;
  padding: 90px 0;
}

.header--subtitle {
  font-size: 2vw;
  margin-bottom: 35px;
}

.header--title {
  font-size: 5vw;
  font-weight: 600;
}

@media only screen and (max-width: 1024px) {
  .header--subtitle {
    font-size: 3vw;
  }
  
  .header--title {
    font-size: 7vw;
  }
}

@media only screen and (max-width: 768px) {
  .header--subtitle {
    font-size: 4vw;
  }
  
  .header--title {
    font-size: 9vw;
  }
}

@media only screen and (max-width: 636px) {
  .header--subtitle {
    font-size: 6vw;
  }
  
  .header--title {
    font-size: 11vw;
  }
}

@media only screen and (max-width: 375px) {
  .header--subtitle {
    margin-bottom: 15px;
  }
}

/* SECTION: PROJECTS */

.projects {
  text-align: justify;
}

.projects--item {
  font-size: 2.2em;
  line-height: 1.5em;
  margin-right: 40px;
  color: #000;
}

@media only screen and (max-width: 537px) {
  .projects--item {
    font-size: 1.9em;
    line-height: 1.5em;
    margin-right: 30px;
  }
}

@media only screen and (max-width: 425px) {
  .projects--item {
    font-size: 1.4em;
    line-height: 1.2em;
    margin-right: 22px;
  }
}

/* FOOTER */

footer {
  margin-top: 50px;
  padding: 12px 0;
  text-align: center;
  border-top: 2px solid #000;
}