@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
}

a,
a:visited {
  color: #000;
}

.container {
  flex: 1 0 auto;
}

.wrap {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 40px;
}

/* HEADER */

.gradient {
  background: linear-gradient(-45deg, #89DB33, #AA2B8E, #23a6d5);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  height: 100vh;
}

nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 25px;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
}

.nav-links .nav-list-item {
  margin-right: 50px;
}

.nav-list-item a {
  text-decoration: none;
}

.nav-list-item a:hover {
  text-decoration: underline;
}

.nav-list-item_active a {
  color: #fff;
}

.nav-lang .nav-list-item:first-child {
  margin-right: 10px;
}

header {
  height: 90%;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

header .title {
  font-size: 72px;
  font-weight: 500;
  padding: 40px 0;
  font-weight: bold;
  letter-spacing: 3px;
}

header .subtitle {
  font-size: 28px;
}

/* MAIN */

.page {
  padding-top: 30px;
}

h2.title {
  font-size: 32px;
  padding-bottom: 25px;
}

/* ABOUT */

/* PROJECTS */

.projects-item img {
  width: 100%;
  margin-bottom: 30px;
}

.projects-item img:hover {
  opacity: 0.5;
}

/* FOOTER */

footer {
  background: #181818;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  flex-shrink: 0;
  font-size: 14px;
}