@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
}

a,
a:visited {
  color: #000;
}

.container {
  flex: 1 0 auto;
}

.wrap {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 40px;
}

/* HEADER */

.gradient {
  background: linear-gradient(-45deg, #89DB33, #AA2B8E, #23a6d5);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  height: 100vh;
}

nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 25px;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
}

.nav-links .nav-list-item {
  margin-right: 50px;
}

.nav-list-item a {
  text-decoration: none;
}

.nav-list-item a:hover {
  text-decoration: underline;
}

.nav-list-item_active a {
  color: #fff;
}

.nav-lang .nav-list-item:first-child {
  margin-right: 10px;
}

header {
  height: 90%;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

header .title {
  font-size: 72px;
  font-weight: 500;
  padding: 40px 0;
  font-weight: bold;
  letter-spacing: 3px;
}

header .subtitle {
  font-size: 28px;
}

/* MAIN */

.page {
  padding-top: 30px;
}

h2.title {
  font-size: 32px;
  padding-bottom: 25px;
  font-weight: 600;
}

h3.subtitle {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 17px;
}

/* ABOUT */

.about-text {
  font-size: 19px;
  line-height: 25px;
  text-indent: 15px;
  text-align: justify;
  padding-bottom: 10px;
}

.about-cv {
  background: transparent;
  padding: 13px 45px;
  border: 1px solid #000;
  border-radius: 15px;
  text-decoration: none;
  display: inline-block;
  margin: 15px 0;
}

.about-cv:hover {
  background: #000;
  color: #fff;
}

.about-skills {
  margin-top: -12px;
}

.about-skills-item-title {
  font-weight: 600;
  text-align: center;
  padding: 12px 0;
}

.about-skills-item-progress {
  width: 100%;
  height: 13px;
  margin-bottom: 7px;
  border-radius: 15px;
  -webkit-appearance: none;
}

.about-skills-item-progress::-webkit-progress-bar {
  background-color: #23a6d5;
  border-radius: 7px;
}

.about-skills-item-progress::-webkit-progress-value {
  background-color: #cfa0b6;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.about-skills-item-sub {
  display: flex;
  justify-content: space-between;
}

/* PROJECTS */

.projects-item-bgimg {
  width: 100%;
  border-radius: 10px;
  opacity: 0.5;
}

.projects-item-bgimg_color {
  height: 100px;
  background: #cfa0b6;
  opacity: 1;
}

.projects-item-content {
  background: #181818d4;
  text-align: center;
  height: 45%;
  position: relative;
  bottom: 45%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: -75px;
}

.projects-item-logo {
  padding: 3%;
  background-color: #fff;
  border-radius: 51%;
  position: relative;
  bottom: 31%;
  width: 17%;
}

.projects-item-text {
  color: #fff;
  font-size: 22px;
  position: relative;
  bottom: 20px;
  display: block;
  text-decoration: none;
}

.projects-item-text:hover {
  text-decoration: underline;
}

.projects-item-text:visited {
  color: #fff;
}

/* FOOTER */

footer {
  background: #181818;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  flex-shrink: 0;
  font-size: 14px;
}