@keyframes shakeX {
  0%, 

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0)
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px,0,0);
    transform: translate3d(10px,0,0)
  }
}

.shakeX {
  animation-name: shakeX;
  animation-duration: 1s;
}

html,
body {
  height: 100%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  background: #000;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

.question-block {
  width: 40%;
  margin: 50px auto 0;
  padding: 15px;
  background: rgba(33, 146, 232, 0.2);
  border-radius: 15px;
}

.question-block--text {
  color: #fff;
}

.question-block--input {
  outline: none;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  padding: 5px;
  box-sizing: border-box;
  background: #a7d9ff;
}

.box,
.ball,
.triangle
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  margin-top: 90px;
}

.ball {
  background: #000;
  -webkit-box-shadow: 0px 0px 56px 71px rgba(33, 146, 232, 0.2);
  -moz-box-shadow: 0px 0px 56px 71px rgba(33, 146, 232, 0.2);
  box-shadow: 0px 0px 56px 71px rgba(33, 146, 232, 0.2);
  width: 350px;
  height: 350px;
  border-radius: 51%;
}

.triangle {
  background: url("../img/ball-hole.png");
  width: 60%;
  height: 60%;
  background-repeat: round;
  cursor: pointer;
}

.triangle--text {
  color: #fff;
  width: 70%;
  text-align: center;
}

@media all and (max-width: 1024px) {
  .question-block {
    width: 60%;
  }
}

@media all and (max-width: 526px) {
  .question-block {
    width: 80%;
  }

  .ball {
    width: 250px;
    height: 250px;
  }

  .triangle--text {
    font-size: 14px;
  }
}