html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Manrope', sans-serif;
}

.wrap {
  padding: 0 70px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title {
  font-size: 25vh;
}

#math-box {
  display: none;
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.math-list_right {
  text-align: right;
}

.math-list li {
  font-size: 18vh;
}

#btn {
  background: transparent;
  padding: 10px 60px;
  border-radius: 25px;
  outline: none;
  border: 1px solid #000;
  margin-top: 45px;
  cursor: pointer;
  font-size: 18px;
}

#btn:hover {
  background: #000;
  color: #fff;
}