html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Manrope', sans-serif;
}

.wrap {
  padding: 0 70px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-text {
  font-size: 192px;
}

#btn {
  background: transparent;
  padding: 10px 40px;
  border-radius: 25px;
  outline: none;
  border: 1px solid #000;
  margin-top: 45px;
  cursor: pointer;
  font-size: 18px;
}

#btn:hover {
  background: #000;
  color: #fff;
}