@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@font-face {
  font-family: eUkraineTitle;
  src: url('../fonts/e-UkraineHead-Light.ttf');
}

@font-face {
  font-family: eUkraine;
  src: url('../fonts/e-Ukraine-Light.ttf');
}

/* COMMON STYLES */

* {
  font-family: eUkraine;
  line-height: 1.1;
}

html,
body {
	height: 100%;
  font-family: eUkraine;
  line-height: 1.1;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.wrap {
	max-width: 1024px;
	margin: 0 auto;
  padding: 0 15px;
}

.inner {
  max-width: 1000px;
  margin: 0 auto;
}

.title {
  font-size: 42px;
  font-family: eUkraineTitle;
  font-weight: 600;
  text-align: center;
  margin: 65px 0;
}

.invalid-input {
  border-color: #ff0000 !important;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 50px 20px;
  width: 20%;
  border-radius: 15px;
  position: relative;
}

.close {
  color: #fff;
  background: #efca66;
  border-radius: 10px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: bold;
  position: absolute; 
  top: 19px;
  right: 19px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content-message--img {
  width: 40%;
  margin-bottom: 35px;
}

.modal-content-message--text {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

/* HEADER STYLES */

header {
	background: linear-gradient(45deg, #ecdab9, #80aae0);
  background-size: 200% 200%;
  animation: gradient 30s ease infinite;
  height: 100vh;
}

nav {
	display: flex;
  justify-content: space-between;
	align-items: center;
  padding: 30px 50px 0;
}

.nav-logo--img {
  width: 50px;
}

.nav-list--el {
  margin-left: 50px;
  font-family: eUkraine;
  font-weight: 600;
}

.headtitle {
  display: flex;
  justify-content: center;
  font-size: 16vh;
  font-weight: 600;
  margin: 0 auto;
  align-items: center;
  height: calc(100% - 82px);
  overflow: hidden;
  cursor: default;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.headtitle-left {
  color: #a47053;
  margin: 0 10px;
  transform: skew(0deg, -10deg);
}

.headtitle-right {
  transform: skew(0deg, 10deg);
  margin: 0 10px;
}

/* SECTION ABOUT */

.about-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-list-el {
  flex-basis: calc(100% / 4 - 30px);
  padding: 0 15px;
}

.about-list-el-back {
  width: 105px;
  height: 105px;
  border-radius: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.about-list-el:first-child .about-list-el-back {
  background: #cec3c8;
  transform: scaleX(-1);
}

.about-list-el:nth-child(2) .about-list-el-back {
  background: #909cac;
}

.about-list-el:nth-child(3) .about-list-el-back {
  background: #ecdab9;
}

.about-list-el:nth-child(4) .about-list-el-back {
  background: #a47053;
}

.about-list-el-back--img {
  width: 70px;
}

.about-list-el--title {
  font-family: eUkraine;
  font-weight: 600;
  font-size: 15px;
}

.about-list-el--text {
  font-family: eUkraine;
  font-size: 15px;
  margin-top: 10px;
  color: #808080;
}

/* SECTION APP */

.app {
  background: #efca66;
  border-radius: 70px 20px;
  padding: 80px 75px;
  margin: 80px 0;
}

.app .inner {
  display: flex;
}

.app-image {
  flex-basis: 25%;
  margin-right: 50px;
  margin-top: 40px;
}

.app-image-circle {
  width: 235px;
  height: 235px;
  border-radius: 51%;
  background: #fff;
  position: relative;
}

.app-image-circle--img1 {
  width: 177px;
  transform: rotate(-17deg);
  position: absolute;
  left: 50px;
  top: -25px;
}

.app-image-circle--img2 {
  position: absolute;
  top: 102px;
  left: 44px;
  transform: rotate(-22deg);
}

.app-text {
  flex-basis: 60%;
}

.app-text--title {
  font-family: eUkraineTitle;
  font-weight: 600;
  font-size: 48px;
}

.app-text--subtitle {
  margin: 23px 0;
  line-height: 1.3;
}

.app-text--btn {
  background: #a47053;
  outline: none;
  border: none;
  padding: 15px 50px;
  border-radius: 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  transition: .1s background;
  cursor: pointer;
}

.app-text--btn:hover {
  background: #fff;
  color: #000;
}

/* SECTION GALLERY */

.gallery {
  display: flex;
  justify-content: space-between;
}

.gallery-block {
  height: 700px;
  width: calc(100% / 5);
  padding: 0 5px;
  transition: .3s width;
}

.gallery-block--img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* SECTION MORE */

.more-list {
  display: flex;
  justify-content: space-around;
}

.more-list-el {
  width: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.more-list-el-img {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.more-list-el-back-img--img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.more-list-el--title {
  font-size: 89px;
  font-weight: 600;
  color: #fff;
  position: absolute;
  line-height: 73px;
}

.more-list-el--text {
  font-size: 15px;
  margin-top: 10px;
  color: #808080;
  line-height: 1.2;
}

.more-list-el--btn {
  margin-top: 15px;
  height: 50px;
  outline: none;
  background: #efca66;
  border: none;
  border-radius: 15px;
  font-weight: 600;
  transition: .2s background;
  font-size: 16px;
  cursor: pointer;
}

.more-list-el--btn:hover {
  background: #000;
  color: #fff;
}

/* SECTION MAP */

.map {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.map-cities {
  font-family: 'eUkraineTitle';
  font-weight: 600;
  color: #959595;
  line-height: 1.4;
  margin-left: 30px;
}

.map-cities--city {
  transform: skew(0deg, 4deg);
  cursor: no-drop;
  display: block;
  position: relative;
  overflow: hidden;
}

.map-cities--city_avaible::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background: #efca66;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
  transform: translate3d(-100%, 0, 0);
}

.map-cities--city:hover::after,
.map-cities--city:focus::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.map-cities--city:first-child,
.map-cities--city:last-child {
  font-size: 60px;
}

.map-cities--city:nth-child(2),
.map-cities--city:nth-child(4)
{
  font-size: 72px;
}

.map-cities--city_avaible {
  font-size: 92px;
  color: #efca66;
  cursor: pointer;
}

.map-cities--city span {
  font-size: 32px;
}

.map-google {
  width: 57%;
  height: 475px;
}

.map-google iframe {
  width: 100%;
  height: 100%;
}

/* SECTION CONTACT */

.contact-text {
  line-height: 1.3;
  margin-bottom: 15px;
  color: #515151;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form--input {
  height: 50px;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  padding: 0 15px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
}

.contact-form--textarea {
  height: 145px;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  padding: 0 15px;
  resize: none;
  margin-bottom: 20px;
  width: 100%;
  font-size: 15px;
  line-height: 1.4;
  box-sizing: border-box;
}

.contact-form--btn {
  height: 50px;
  outline: none;
  background: #efca66;
  border: none;
  border-radius: 15px;
  font-weight: 600;
  transition: .2s background;
  width: 250px;
  font-size: 16px;
  cursor: pointer;
}

.contact-form--btn:hover {
  background: #000;
  color: #fff;
}

/* FOOTER */

footer {
  background: #a47053;
  padding: 45px 0;
  color: #fff;
  margin-top: 70px;
}

footer .wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  font-size: 21px;
  font-weight: 600;
  align-items: center;
  font-size: 18px;
}

.footer-logo--img {
  width: 50px;
  margin-right: 10px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-info-text {
  flex-basis: 25%;
  line-height: 1.5;
}

.footer-info {
  flex-basis: 25%;
}

.footer-info-soc-list {
  margin-bottom: 10px;
}

.footer-info-soc-list--link {
  margin-left: 15px;
}

.footer-info-soc-list--link img {
  width: 32px;
}

.footer-info--copy {
  text-align: right;
}