@font-face {
  font-family: e-Ukraine;
  src: url('../fonts/e-Ukraine-Light.ttf') format('truetype');
}

html,
body {
  font-family: e-Ukraine;
  overflow-x: hidden;
  line-height: 19px;
}

.wrap {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.page-main {
  
}

.page {
  padding-top: 50px;
  &__title {
    font-size: 56px;
    padding-bottom: 30px;
    line-height: 56px;
    span {
      position: relative;
      top: 7px;
      right: 10px;
    }
  }
  &__button {
    
  }
}

header {
  margin-top: 25px;
}

.header {
  &-list {
    display: flex;
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__item {
      &_logo {
        margin-right: 300px;
        a {
          &:hover {
            background: unset;
            color: unset;
            border-radius: unset;
          }
          img {
            width: auto;
            height: 120px;
          }
        }
      }
      a {
        color: #000;
        text-decoration: none;
        align-items: center;
        font-size: 18px;
        &:hover {
          color: #fd333b;
        }
      }
    }
  }
  &__checkbox,
  &__button {
    display: none;
  }
}

.slider {
  margin-top: 25px;
  width: 100%;
  min-height: 550px;
  cursor: e-resize;
  &-item {
    display: flex;
    justify-content: space-between;
    outline: none;
    img {
      width: 50%;
      height: 550px;
    }
    h2 {
      font-size: 72px;
      width: 650px;
      margin: 0 auto;
      margin-top: 50px;
      line-height: 72px;
    }
  }
}

@keyframes shadow {
  from {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
  }
  to {
    -webkit-box-shadow: 14px 14px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 14px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 14px 14px 0px 0px rgba(0,0,0,0.75);
  }
}

.news {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &-item {
    width: 300px;
    border-radius: 10px;
    position: relative;
    &:hover {
      bottom: 10px;
      right: 15px;
      animation: shadow 0.25s;
      -webkit-box-shadow: 14px 14px 0px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 14px 14px 0px 0px rgba(0,0,0,0.75);
      box-shadow: 14px 14px 0px 0px rgba(0,0,0,0.75);
      &:after {
        background: black;
      }
    }
    &-img {
      width: 100%;
      height: 200px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      overflow: hidden;
      position: relative;
      margin-bottom: 20px;
      img {
        position: absolute;
        width: 100%;
        height: 200px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
      } 
    }
    &-text {
      padding: 5px 10px;
      &__caption {
        font-size: 20px;
        margin-bottom: 15px;
        line-height: 24px;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
      &__excerpt {
        padding-bottom: 30px;
        font-size: 14px;
        color: #959595;
      }
      &__date {
        
      }
    }
  }
}

.about {
  display: flex;
  justify-content: space-between;
  &-text {
    width: 620px;
    &__name {
      color: #fd333b;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    &__description {
      margin-bottom: 20px;
      span {
        font-weight: bold;
      }
    }
  }
  &-image {
    position: relative;
    margin-top: 47px;
    &__img {
      width: 300px;
      height: auto;
      margin-top: -47px;
      margin-right: 44px;
    }
    &__svg {
      position: absolute;
      right: 0;
      z-index: -1;
    }
  }
}

.contacts {
  &-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }
  &__map {
    margin-bottom: -4px;
  }
}

.footer {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #151111;
  color: #fff;
  & > .wrap {
    display: flex;
    justify-content: space-between;
  }
  &-about {
    flex-basis: 31.8%;
    &__logo {
      img {
        width: 120px;
      }
    }
    &__copyright {
      margin-top: 15px;
    }
  }
  &-links,
  &-contacts {
    flex-basis: 23.1%;
  }
  &__caption {
    font-size: 18px;
    color: #fd333b;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  &-contacts-social {
    margin-top: 25px;
    display: flex;
    width: 25px;
    height: auto;
    &__item {
      margin-right: 13px;
      & > a {
        color: #fd333b;
      }
    }
  }
}