@font-face {
  font-family: e-Ukraine;
  src: url("../fonts/e-Ukraine-Light.ttf") format("truetype"); }
html,
body {
  font-family: e-Ukraine;
  overflow-x: hidden;
  line-height: 19px; }

.wrap {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto; }

.page {
  padding-top: 50px; }
  .page__title {
    font-size: 56px;
    padding-bottom: 30px;
    line-height: 56px; }
    .page__title span {
      position: relative;
      top: 7px;
      right: 10px; }

header {
  margin-top: 25px; }

.header-list {
  display: flex;
  height: 100px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .header-list__item_logo {
    margin-right: 300px; }
    .header-list__item_logo a:hover {
      background: unset;
      color: unset;
      border-radius: unset; }
    .header-list__item_logo a img {
      width: auto;
      height: 120px; }
  .header-list__item a {
    color: #000;
    text-decoration: none;
    align-items: center;
    font-size: 18px; }
    .header-list__item a:hover {
      color: #fd333b; }
.header__checkbox, .header__button {
  display: none; }

.slider {
  margin-top: 25px;
  width: 100%;
  min-height: 550px;
  cursor: e-resize; }
  .slider-item {
    display: flex;
    justify-content: space-between;
    outline: none; }
    .slider-item img {
      width: 50%;
      height: 550px; }
    .slider-item h2 {
      font-size: 72px;
      width: 650px;
      margin: 0 auto;
      margin-top: 50px;
      line-height: 72px; }

@keyframes shadow {
  from {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75); }
  to {
    -webkit-box-shadow: 14px 14px 0px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 14px 0px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 14px 14px 0px 0px rgba(0, 0, 0, 0.75); } }
.news {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .news-item {
    width: 300px;
    border-radius: 10px;
    position: relative; }
    .news-item:hover {
      bottom: 10px;
      right: 15px;
      animation: shadow 0.25s;
      -webkit-box-shadow: 14px 14px 0px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 14px 14px 0px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 14px 14px 0px 0px rgba(0, 0, 0, 0.75); }
      .news-item:hover:after {
        background: black; }
    .news-item-img {
      width: 100%;
      height: 200px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      overflow: hidden;
      position: relative;
      margin-bottom: 20px; }
      .news-item-img img {
        position: absolute;
        width: 100%;
        height: 200px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover; }
    .news-item-text {
      padding: 5px 10px; }
      .news-item-text__caption {
        font-size: 20px;
        margin-bottom: 15px;
        line-height: 24px; }
        .news-item-text__caption:hover {
          text-decoration: underline;
          cursor: pointer; }
      .news-item-text__excerpt {
        padding-bottom: 30px;
        font-size: 14px;
        color: #959595; }

.about {
  display: flex;
  justify-content: space-between; }
  .about-text {
    width: 620px; }
    .about-text__name {
      color: #fd333b;
      text-transform: uppercase;
      margin-bottom: 20px; }
    .about-text__description {
      margin-bottom: 20px; }
      .about-text__description span {
        font-weight: bold; }
  .about-image {
    position: relative;
    margin-top: 47px; }
    .about-image__img {
      width: 300px;
      height: auto;
      margin-top: -47px;
      margin-right: 44px; }
    .about-image__svg {
      position: absolute;
      right: 0;
      z-index: -1; }

.contacts-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px; }
.contacts__map {
  margin-bottom: -4px; }

.footer {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #151111;
  color: #fff; }
  .footer > .wrap {
    display: flex;
    justify-content: space-between; }
  .footer-about {
    flex-basis: 31.8%; }
    .footer-about__logo img {
      width: 120px; }
    .footer-about__copyright {
      margin-top: 15px; }
  .footer-links, .footer-contacts {
    flex-basis: 23.1%; }
  .footer__caption {
    font-size: 18px;
    color: #fd333b;
    text-transform: uppercase;
    margin-bottom: 15px; }
  .footer-contacts-social {
    margin-top: 25px;
    display: flex;
    width: 25px;
    height: auto; }
    .footer-contacts-social__item {
      margin-right: 13px; }
      .footer-contacts-social__item > a {
        color: #fd333b; }

/*# sourceMappingURL=main.css.map */
