.main-link {
  width: 160px;
  text-align: center;
  display: block;
  padding: 19px;
  background: bisque;
  border-radius: 50px;
  color: #000;
  font-size: 27px;
  font-weight: 900;
  margin: 0 auto;
  margin-bottom: 30px;
  text-decoration: none;
}

.main-link:hover {
  text-decoration: underline;
}