.main-link {
  width: 100%;
  text-align: center;
  display: block;
  padding: 35px;
  background: bisque;
  border-radius: 50px;
  color: #000;
  font-size: 2.5vw;
  font-weight: 900;
  margin-bottom: 30px;
  text-decoration: none;
}

.main-link:hover {
  text-decoration: underline;
}