* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.wrap {
  margin: 15px;
  height: 94%;
  padding: 0 10px;
}

.settings {
  width: 100%;
}

::placeholder {
  color: #000;
}

.settings-input {
  width: 100%;
  padding: 25px;
  border-radius: 50px;
  outline: none;
  border: 1px solid teal;
  background: teal;
  margin-bottom: 15px;
  font-size: 2vw;
  color: #fff;
}

.content {
  width: 100%;
  height: 100%;
}

.content-item {
  width: 100%;
  height: 50%;
  background: coral;
  border-radius: 50px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 50px;
  transition: height .2s;
  cursor: pointer;
  margin-bottom: 15px;
}

.content-item:first-child {
  background: cornflowerblue;
}

.content-item__open {
  height: 80%;
}

.content-item--title {
  font-size: 8vw;
  font-weight: 900;
}

.content-item-list {
  display: none;
  margin-top: 50px;
}

.content-item-list--img {
  border-radius: 25%;
  margin-right: 15px;
}

@media screen and (max-width: 430px) {
  .content-item-list--img {
    width: 80px;
  }

  .content-item {
    padding: 35px;
  }
}